<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MySql.ServerConnectionString" value="Server=localhost;Port=3306;Uid=taskmanager_user;Pwd=manager;SslMode=none;" />
    <add key="MySql.DatabaseName" value="taskmanager" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
